/* styles specific to Char module only */
@import 'src/stylesheets/_constants';
@import 'src/stylesheets/_color_scheme';

.Char {
	display: inline-block;
	margin: $buffer;
	padding: $buffer;
	text-align: center;
	border: 1px solid $outline-color;
}
